#outerwrapper {
	margin:0 auto;
	max-width:800px;
	width:100%;
}

#header {
	margin-top:60px;
	font-size:32px;
	font-weight:bold;
	font-family: "Arial";
	text-align: center;
}

#header a {
	text-decoration:none;
}

#header .title-a {
	color: #2c3e50;
}

#header .title-b {
	color: #2980b9;
}

#nav {
	margin-bottom:60px;
	font-family:"Arial";
	font-size:16px;
	font-weight:bold;
	text-align:center;
}

#nav ul {
	padding-left:0px;
}

#nav li{
	text-decoration:none;
	display:inline;
	margin-right:12px;
}

#nav li a{
	text-decoration:none;
	color:#bdc3c7;
}

#nav li a:hover{
	color:#2980b9;
}

.separator hr{
	border:none;
	height:6px;
	color:#bdc3c7;
	background-color:#bdc3c7;
	margin-bottom:60px;
}

#container {
	font-family:Verdana, Geneva, sans-serif;
	padding-left:6px;
	padding-right:6px;
}

#container h1 a {
    text-decoration:none;
    color:#2c3e50;
}

#container h5 {
	font-weight:bold;
	color:#7f8c8d;
	font-family: "Verdana";
}

.content {
    font-size:14px;
	color: #4d4d4d;
}

.post {
	margin-bottom: 60px;
}

.read-more a{
	color: #2980b9;
    text-decoration:none;
}

#footer {
	margin-top:45px;
	margin-bottom:60px;
	text-align:center;
}

#footer span {
	font-family: "Arial";
	font-size:14px;
	font-weight:bold;
	color:#34495e;
}

#footer span a {
	text-decoration:none;
	color:#2980b9;
}
.tags ul {
	margin-top:0;
	text-decoration:none;
	margin:0 auto 0 0;
	padding:0;
}
.tags ul li{
	display:inline;
}

.tags ul li:nth-child(odd) {
	color:#2980b9;
}

.post-info {
	display:inline-block;
}

.tags {
	display:inline-block;
}

#about{
    margin-bottom: 30px;
}

#skill-statistic tr td:first-child{
    text-align:right;
}
