<!DOCTYPE html>
</html lang="en">
	<head><meta charset="utf-8"></head>
		<title>{{site.name}}</title>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
	
		<link href="/css/style.css" rel="stylesheet">
	</head>
	
	<body>
	<div id="outerwrapper">
	<div id="header">
		<a href="#">
			<span class="title-a">RMX</span>
			<span class="title-b">|7</span>
		</a>
	</div>
	<div id="nav">
		<ul>
			<li><a href="#">HOME</a></li>
			<li>/</li>
			<li><a href="#">TECH</a></li>
			<li>/</li>
			<li><a href="/me">ME</a></li>
			<li>/</li>
			<li><a href="#">PROJECT</a></li>
		</ul>
	</div>
	<div class="separator">
		<hr/>
	</div>
	<div id="container">
		<div class="post">
			<h5>
				<div class="post-info">
					06 MAY 2015 BY ROMY ELMACO ON
				</div>
				<div class="tags">
					<ul>
						<li>TECH</li>
						<li>|</li>
						<li>LINUX</li>
						<li>|</li>
						<li>REVIEW</li>
					</ul>
				</div>
			</h5>
			<div class="post-content">
				<p>
				{{content}}
				</p>
				<p class="read-more">Read more &blacktriangleright;</p>
			</div>
		</div>
	</div>
	<div class="separator">
		<hr/>
	</div>
	<div id="footer">
		<span>All content copyleft <a href="#">Muhammad Romy Elmaco</a> &copy; 2015 &#8226; All rights reversed.</span>
	</div>
</div>
</body>
</html>

